<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  
  <appSettings>
    <add key="SMTPServer" value="smtp1.biz-era.net" />
    <add key="SMTPUserName" value="SmtpWebAuth@mailsrv.net"/>
    <add key="SMTPPassword" value="SmtpW3b"/>
    <add key="SMTPPort" value="25"/>

    <add key="sender" value="info@biz-era.net"/>
    <add key="EMAILServerLoginRequired" value="true"/>
    <add key="EnableSSL" value=""/>
  </appSettings>
  
</configuration>